/*
Open Sans styles:
Light 300 - Nav
Light 300 Italic- Footer
Normal 400 - Text
Semi-Bold 600 Italic - Subheaders, Quotes
Bold 700
Bold 700 Italic - Headers, Quote Marks?
*/
/*.font-light {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
	font-weight: 300;
}

.font-light-it {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
	font-weight: 300;
}

.font-med {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
	font-weight: 400;
}

.font-semibold-it {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
	font-weight: 600;
}

.font-bold {
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
	font-weight: 700;
}

.font-bold-it {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
	font-weight: 700;
}*/
[class*="icon-"],
[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
[class*="fa-"],
[class^="fa-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
body {
  background: #ffffff;
  box-sizing: border-box;
  border: 0px none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 150%;
  color: #000000;
}
#scc-header {
  background: #0f90c7;
  width: 100%;
  margin-top: -15px;
}
#scc-header-center {
  width: 80%;
  margin: 0 auto;
}
#header-logo {
  height: auto;
  margin: 15px 0 0 0;
  width: auto;
}
header {
  margin-top: 0px;
  width: 100%;
}
#sl-header {
  background: #ffffff;
  width: 100%;
}
#sl-header #header-center {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  line-height: .125em;
}
h1 span {
  font-weight: 400;
  font-style: normal;
}
h1 a {
  text-decoration: none;
  list-style-type: none;
}
h1 a:link,
h1 a:visited {
  color: #000000;
}
h1 a:hover,
h1 a:focus {
  color: #ea9322;
}
h2 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.6em;
}
h3 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.8em;
}
h4 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.0em;
}
#slider-zone {
  margin: auto;
  border-top: 5px solid #ea9322;
  border-bottom: 5px solid #ea9322;
  width: 80%;
  margin: 0 auto;
  height: auto;
  background: #ffffff;
  position: relative;
}
#slider-panel {
  float: right;
  width: 32%;
  height: 90px;
  background: rgba(236, 140, 52, 0.4);
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}
#slider-panel h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.25em;
  color: #ffffff;
  width: 10em;
  margin: 12px 0 2px 10%;
  z-index: 3;
}
nav #nav-main,
#nav-footer {
  width: 80%;
  font-weight: 400;
  margin: auto;
  height: 2.5em;
}
nav #nav-main #nav-center,
#nav-footer #nav-center,
nav #nav-main #footer-center,
#nav-footer #footer-center {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.75em;
  margin: 0 auto;
}
nav #nav-main ul,
#nav-footer ul {
  text-align: center;
  display: block;
  margin: auto;
}
nav #nav-main li,
#nav-footer li {
  width: 24.5%;
  display: inline;
  float: left;
}
nav #nav-main a,
#nav-footer a {
  display: block;
  text-decoration: none;
}
nav #nav-main a:link,
#nav-footer a:link,
nav #nav-main a:visited,
#nav-footer a:visited {
  color: #000000;
}
nav #nav-main a:hover,
#nav-footer a:hover,
nav #nav-main a:focus,
#nav-footer a:focus {
  color: #ea9322;
}
.current-menu-item a {
  color: #ea9322;
}
nav #nav-main {
  border-bottom: 5px solid #ea9322;
  margin-bottom: 20px;
}
#nav-footer {
  width: 100%;
  clear: both;
  border-top: 5px solid #ea9322;
}
#middle {
  width: 80%;
  margin: auto;
}
#main {
  width: 100%;
}
#sidebar-primary {
  float: left;
  width: 25%;
  padding: 10px 0 0 0;
}
#sidebar-primary img {
  display: block;
  width: 50%;
  float: right;
}
#content {
  float: left;
  width: 40%;
  padding: 0 0 0 4%;
}
#content p {
  font-size: 1.0em;
  font-style: normal;
}
#content .resource-link,
#content .training-link {
  font-style: italic;
}
#sidebar-secondary {
  float: left;
  width: 25%;
  padding: 0 0 0 3%;
}
#sidebar-secondary p {
  font-size: 1.2em;
  font-style: italic;
  width: 68%;
  text-indent: -0.75em;
  padding-left: .75em;
}
#sidebar-secondary #searchform,
#sidebar-secondary #meta-3 {
  margin-left: 4%;
}
#sidebar-secondary .screen-reader-text {
  display: block;
}
#sidebar-secondary ul {
  padding: 0 0 0 6%;
}
#sidebar-secondary li {
  font-style: italic;
}
.sl-quote {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.75em;
  width: 80%;
}
.sl-quote span {
  font-size: 150%;
  font-weight: bold;
}
footer {
  width: 100%;
}
/********Start SCC FOOTER*************/
/***Start column/row formatting***/
.row {
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse .column,
.row.collapse .columns {
  float: left;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.row .row {
  margin: 0 -0.9375em;
  max-width: none;
  width: auto;
}
.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  margin: 0;
  max-width: none;
  width: auto;
}
.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}
.column,
.columns {
  float: left;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  position: relative;
  width: 100%;
}
/***end column/row formatting***/
#footer-scc {
  background: #0f90c7;
  color: #fff;
  overflow: hidden;
  clear: both;
}
#footer-scc ul li {
  text-decoration: none;
}
#footer-scc a {
  color: #fff;
}
#footer-scc h4 {
  font-size: 1.1em;
  line-height: 1em;
  font-weight: 300;
  color: #fff !important;
  text-align: center;
}
#footer-scc p {
  color: #fff !important;
  text-align: center;
}
.social-media {
  position: absolute;
  top: 15px;
  z-index: 1;
  text-decoration: none;
}
.social-media p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}
.normalprint {
  font-size: 1em !important;
}
.medprint {
  font-size: 0.75em !important;
}
.smallprint {
  font-size: 0.9em;
  margin-bottom: 0.05em !important;
  margin-top: -1.75em;
}
.tinyprint {
  font-size: 0.7em !important;
  text-decoration: none;
}
.top-padding {
  padding-top: 1em;
}
.social-media {
  position: absolute;
  top: 15px;
  z-index: 1;
  float: left;
}
.footer-logo {
  position: absolute;
  right: 0;
  top: -90px;
}
.college-links {
  position: absolute;
  top: -48px;
  float: left;
}
.fa-facebook:before {
  content: "\f09a";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
}
.fa-twitter:before {
  content: "\f099";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
}
.fa-instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
}
.fa-flickr:before {
  content: "\f16e";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
}
.fa-envelope-o:before {
  content: "\f003";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
  padding: 0 .25em 0 1em;
}
.fa-money:before {
  content: "\f0d6";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
  padding: 0 .25em 0 .3em;
}
.fa-warning:before {
  content: "\f071";
  font-family: FontAwesome;
  color: #ffffff;
  text-decoration: none;
  padding: 0 .25em 0 .3em;
}
.fa-4x {
  font-size: 2em;
}
.text-left {
  text-align: left;
}
#donate-contact-dis [class^="icon-"],
#donate-contact-dis [class*=" icon-"] {
  padding-right: 3px;
}
#donate-contact-dis ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 0 0;
  text-align: center;
}
#donate-contact-dis ul li {
  display: inline;
}
#donate-contact-dis ul li a {
  padding: 0.2em 1em;
  text-decoration: none;
}
/***********MEDIA QUERIES**************/
@media only screen and (max-width: 825px) {
  .header-logo {
    max-width: 220px;
  }
}
@media screen and (max-width: 700px) {
  .header-logo {
    max-width: 150px;
    height: 45px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 450px) {
  .header-logo {
    height: 30px;
    margin-top: 12px;
    width: 250px;
  }
}
