@color-scc-bg:#056B94;
@color-scc:#0F90C7;
@color-sl: #ffffff;
@color-border: #ea9322;
@std-border: 5px solid @color-border;
@hover-color:  #ea9322;
@font-color1: #000000:


/*
Open Sans styles:
Normal 400 - Nav, text
Semi-Bold 600 Italic - Subheaders, Quotes
Bold 700
Bold 700 Italic - Headers, Quote Marks?
*/	

body {
	background: @color-sl;
	box-sizing: border-box;
	border: 0px none;
	line-height: 150%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: @font-color;
}
/*COLOR IS WRONG HERE*/
header {
	margin-top:0px;
	background:@color-sl;
	width: 100%;
	}
/*COLOR AND FONT ARE  ALL WRONG HERE AND NO BORDER*/	
#sl-header {
	width:80%; 
	margin:0 auto;
	height:45px;
	border-bottom: @std-border;
	font-weight: 700;
	font-style: italic;
	height: 2em;
	margin:0 auto;
	width:100%;
	height:40px;
	}
/*THIS IS NOT REGISTERING AT ALL*/	



h1 {
	font: 'Open Sans', sans-serif;
	color: #000000;
	font-weight: 700;
	font-style: italic;
	height: 2em;
	}
	h1 span {
	font-weight: 400;
	font-style: normal;
	color: @font-color1;
	height: 2em;
	}
	a {
	  text-decoration:none;
	  list-style-type:none;
		&:link, &:visited {
		  color:@color-border;
		}
		&:hover, &:focus {
		  color:@color-border;
		}
}

#slider-zone {
	border-top: @std-border;
	border-bottom: @std-border;
	width:80%;
	margin:0 auto;
	height:246px;
	position:relative;
	background:#888888;
}
#slider-panel {
	float:right;
	width:32%;
	height:104px;
	background:#999999;
	position:absolute;
	bottom:0;
	right:0;
}


nav #nav-main, #nav-footer {
	border-top: @std-border;
	margin-bottom:10px;
	width:100%;
	height:55px;
	background:@color-sl;
		#nav-center {
			width:960px;
			height:45px;
			background:#ffffff;
			margin:0 auto;
			}
				ul {
				width:90%;
				text-align:center;
				display:block;
				margin:auto;
				}
					li {
						color: #000000;
						font-weight: 400;
						font-style: normal;
						height: 1.5em;
						width:24.5%;
						display:inline;
						float:left;
						color:#696969;
					  }
						  a {
							display:block;
							text-decoration:none;
							color:#696969;
							font-weight:bold;
								&:hover{
									color: @hover-color;
								}
								.current-menu-item a {
									color: @hover-color;
								}
							}
}
nav #nav-main {
	border-bottom: @std-border;
}

#wrapper {
  clear:both;
  width:960px;
  margin:0px auto;
  overflow:hidden;
}

#middle {
  width:100%;
  clear:both;
}
#sidebar-primary {
  float:left;
  width:28%;
  img {
	display: block;
    margin-left: auto;
    margin-right: auto
  }
}
#main {
  float:right;
  width:72%;
}
#content {
  float:left;
  width:58%;
}
#sidebar-secondary {
  float:right;
  width:40%;
	p {
	font-size:1.2em;
	font-style:italic;
	padding: 10px 55px;
	}
}

footer{
width: 100%;
  background:@color-scc-bg;
}

#slscc-footer {
  height:45px;
  background:@color-sl;
  clear:both;

}
#footer-center {
width:80%;
height:45px;
margin:auto;
}
