/*
Open Sans styles:
Light 300 - Nav
Normal 400 - Text
Semi-Bold 600 Italic - Subheaders, Quotes
Bold 700
Bold 700 Italic - Headers, Quote Marks?
*/
body {
  background: #ffffff;
  box-sizing: border-box;
  border: 0px none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 150%;
  color: #000000;
}
header {
  margin-top: 0px;
  background: #ffffff;
  width: 100%;
}
#sl-header {
  width: 100%;
}
#sl-header #header-center {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  color: #000000;
  line-height: .125em;
}
h1 span {
  font-weight: 400;
  font-style: normal;
}
h1 a {
  text-decoration: none;
  list-style-type: none;
}
h1 a:link,
h1 a:visited {
  color: #000000;
}
h1 a:hover,
h1 a:focus {
  color: #ea9322;
}
#slider-zone {
  border-top: 5px solid #ea9322;
  border-bottom: 5px solid #ea9322;
  width: 80%;
  margin: 0 auto;
  height: 300px;
  position: relative;
  background: #888888;
}
#slider-panel {
  float: right;
  width: 32%;
  height: 104px;
  background: #999999;
  position: absolute;
  bottom: 0;
  right: 0;
}
nav #nav-main,
#nav-footer {
  width: 80%;
  font-weight: 400;
  margin: auto;
  margin-bottom: 20px;
  height: 2.5em;
}
nav #nav-main #nav-center,
#nav-footer #nav-center,
nav #nav-main #footer-center,
#nav-footer #footer-center {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0 auto;
}
nav #nav-main ul,
#nav-footer ul {
  text-align: center;
  display: block;
  margin: auto;
}
nav #nav-main li,
#nav-footer li {
  width: 24.5%;
  display: inline;
  float: left;
}
nav #nav-main a,
#nav-footer a {
  display: block;
  text-decoration: none;
}
nav #nav-main a:link,
#nav-footer a:link,
nav #nav-main a:visited,
#nav-footer a:visited {
  color: #000000;
}
nav #nav-main a:hover,
#nav-footer a:hover,
nav #nav-main a:focus,
#nav-footer a:focus {
  color: #ea9322;
}
.current-menu-item a {
  color: #ea9322;
}
nav #nav-main {
  border-bottom: 5px solid #ea9322;
}
#wrapper {
  clear: both;
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
}
#middle {
  width: 100%;
  clear: both;
}
#sidebar-primary {
  float: left;
  width: 28%;
}
#sidebar-primary img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#main {
  float: right;
  width: 72%;
}
#content {
  float: left;
  width: 58%;
}
#sidebar-secondary {
  float: right;
  width: 40%;
}
#sidebar-secondary p {
  font-size: 1.2em;
  font-style: italic;
  padding: 10px 55px;
}
footer {
  width: 100%;
}
