@color-scc-bg:#056B94;
@color-scc:#0F90C7;
@color-sl: #ffffff;
@color-border: #ea9322;
@std-border: 5px solid @color-border;
@hover-color:  #ea9322;
@font-color1: #000000;
@test-border: 5px solid #ff0000;

/*
Open Sans styles:
Light 300 - Nav
Normal 400 - Text
Semi-Bold 600 Italic - Subheaders, Quotes
Bold 700
Bold 700 Italic - Headers, Quote Marks?
*/	



body {
	background: @color-sl;
	box-sizing: border-box;
	border: 0px none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 150%;
	color: @font-color1;
}

header {
	margin-top: 0px;
	background: @color-sl;
	width: 100%;
}
	
#sl-header {	
	width: 100%;
		#header-center  {
			width: 80%;
			margin: 0 auto;
		}
}

h1 {
	font: 'Open Sans', sans-serif;
	color: @font-color1;
	font-weight: 700;
	font-size: 2em;
	font-style: italic;
	color: @font-color1;
	line-height: .125em;
		span {
		font-weight: 400;
		font-style: normal;
		}
			a {
			  text-decoration: none;
			  list-style-type: none;
			  }
				a:link, a:visited {
					color: @font-color1;
				}
				a:hover, a:focus {
				  color: @color-border;
				}
}

#slider-zone {
	border-top: @std-border;
	border-bottom: @std-border;
	width: 80%;
	margin: 0 auto;
	height: 300px;
	position: relative;
	background: #888888;
}

#slider-panel {
	float: right;
	width: 32%;
	height: 104px;
	background: #999999;
	position: absolute;
	bottom: 0;
	right: 0;
}

nav #nav-main, #nav-footer {	
	width: 80%;
	font-weight: 400;
	margin: auto;
	margin-bottom: 20px;
	height: 2.5em;
		#nav-center, #footer-center {
			font-family: 'Open Sans', sans-serif;
			color: @font-color1;
			font-style: normal;
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 0 auto;
			}
				ul {
				text-align: center;
				display: block;
				margin: auto;
				}
					li {
						width: 24.5%;
						display: inline;
						float: left;						
					 }
					a {
					display: block;
					text-decoration: none;
					}
					a:link, a:visited {
						color: @font-color1;
					}
					a:hover, a:focus {
					  color: @color-border;
					}
}

.current-menu-item a {
	color: @hover-color;
}
								
nav #nav-main {
	border-bottom: @std-border;
}

#wrapper {
	clear: both;
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}

#middle {
	width: 100%;
	clear: both;
}

#sidebar-primary {
	float: left;
	width: 28%;
		img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		}
}

#main {
	float: right;
	width: 72%;
}

#content {
	float: left;
	width: 58%;
}

#sidebar-secondary {
	float: right;
	width: 40%;
		p {
		font-size: 1.2em;
		font-style: italic;
		padding: 10px 55px;
		}
}

footer{
	width: 100%;

}

